<!DOCTYPE HTML>
<html>
<head>
<title>create Product</title>
<link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
</head>
        <body>
        <h2>Add items</h2>
        <form action="/addProduct" method="POST" enctype="multipart/form-data">
        	Name: <input type="text" name="name"><br> 
        	Price: <input type="text" name="price"><br>
        	<!-- Description: <textarea name="description" rows=3 cols="40"></textarea><br> -->
        	Image: <input type="file" name="image" accept="image/*"><br>
			Stock: <input type="text" name="stock"><br>
        	Category: <select name="category">
				<option value="Food">Food</option>
				<option value="Sports">Sports</option>
				<option value="School">School</option>
				<option value="Clothes">Clothes</option>
				<option value="Entertainment">Entertainment</option>
        	</select><br>
        	<input type="submit">
        </form>
        </body>
</html>