<!DOCTYPE html>
<html>
    <head>
        <title>userlogin</title>
    </head>
    <body>
        <h1>Login to Account</h1>
        {% if error_flag %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Submit">
        </form>
        <p>Don't have an account? <a href="/create-user">Create one now!</a></p>
    </body>
</html>